/* Prevent scrolling the body */
.banner-bg {
  background: radial-gradient(
        21.43% 66.26% at 2.91% 100%,
        rgba(95, 77, 231, 0.4) 0%,
        rgba(179, 158, 248, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        59.92% 399.61% at 109.92% 5.11%,
        rgba(85, 124, 242, 0.6) 0%,
        rgba(95, 77, 231, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #1b145f;
}

.header-wave {
  position: relative;
  height: 70px;
}

.waves {
  width: 100%;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 70px;
  max-height: 70px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 70px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}
