@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/work-sans-variable.ttf");
  font-display: swap;
}

/* Make the text larger on mobile */
html {
  font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Global styles for forms */
.input[type="text"],
.input[type="url"],
.input[type="date"],
textarea.input {
  background-color: #fafbff;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  color: #000;
  height: 48px;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

.input[type="text"]:focus,
.input[type="url"]:focus,
.input[type="date"]:focus,
textarea.input:focus {
  border-color: theme("colors.light.interactive");
  outline: none;
  box-shadow: 0 0 0 1px theme("colors.light.interactive");
}

.input[type="text"]:read-only,
.input[type="url"]:read-only,
.input[type="date"]:read-only,
textarea.input:read-only {
  background-color: #f4f4f4;
  color: theme("colors.light.type-disabled");
}

.input-label {
  color: theme("colors.light.type-medium");
  font-size: 0.875rem;
  font-weight: 600;
}

.input-label + .input[type="text"],
.input-label + .input[type="url"],
.input-label + textarea.input {
  margin-top: 0.25rem;
}

.input-select {
  @apply pl-2 pr-6 py-1 text-sm text-light-interactive bg-white rounded-lg border border-light-interactive cursor-pointer appearance-none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%235f4de7%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em auto, 100%;
}
