@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/work-sans-variable.ttf");
  font-display: swap;
}

/* Global styles for forms */
.input[type="text"],
.input[type="url"],
.input[type="date"],
textarea.input {
  background-color: #fafbff;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  color: #000;
  height: 48px;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

.input[type="text"]:focus,
.input[type="url"]:focus,
.input[type="date"]:focus,
textarea.input:focus {
  border-color: theme("colors.light.interactive");
  outline: none;
  box-shadow: 0 0 0 1px theme("colors.light.interactive");
}

.input[type="text"]:read-only,
.input[type="url"]:read-only,
.input[type="date"]:read-only,
textarea.input:read-only {
  background-color: #f4f4f4;
  color: theme("colors.light.type-disabled");
}

.input-label {
  color: theme("colors.light.type-medium");
  font-size: 0.875rem;
  font-weight: 600;
}

.input-label + .input[type="text"],
.input-label + .input[type="url"],
.input-label + textarea.input {
  margin-top: 0.25rem;
}
