.react-select {
  outline: initial !important;
  box-shadow: none !important;
}

.react-select__value-container {
  outline: initial !important;
  box-shadow: none !important;
  padding: 0px 1px 3px 8px !important;
}

.react-select .react-select__single-value,
.react-select .react-select__multi-value__label {
  bottom: initial !important;
}

.react-select .react-select__dropdown-indicator {
  @apply text-indigo-500 !important;
}

.react-select .react-select__menu-list {
  padding-bottom: 0;
  padding-top: 0;
}

.react-select .react-select__single-value,
.react-select .react-select__multi-value__label {
  @apply text-indigo-500 !important;
  @apply text-sm;
  text-align: left;
}

.react-select .react-select__dropdown-indicator,
.react-select
  .react-select__control--is-focused
  .react-select__dropdown-indicator,
.react-select .react-select__clear-indicator,
.react-select
  .react-select__control--is-focused
  .react-select__clear-indicator {
  outline: initial;
  box-shadow: initial;
}

.react-select .react-select__dropdown-indicator:active,
.react-select .react-select__dropdown-indicator:focus,
.react-select .react-select__dropdown-indicator:hover,
.react-select
  .react-select__control--is-focused
  .react-select__dropdown-indicator:active,
.react-select
  .react-select__control--is-focused
  .react-select__dropdown-indicator:focus,
.react-select
  .react-select__control--is-focused
  .react-select__dropdown-indicator:hover,
.react-select .react-select__clear-indicator:active,
.react-select .react-select__clear-indicator:focus,
.react-select .react-select__clear-indicator:hover,
.react-select
  .react-select__control--is-focused
  .react-select__clear-indicator:active,
.react-select
  .react-select__control--is-focused
  .react-select__clear-indicator:focus,
.react-select
  .react-select__control--is-focused
  .react-select__clear-indicator:hover {
  @apply text-indigo-500 !important;
}

.react-select__control {
  @apply rounded-lg !important;
  @apply border border-solid border-indigo-500 !important;
  background: white !important;
  outline: initial !important;
  box-shadow: none !important;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__dropdown-indicator svg {
  width: 15px;
  height: 15px;
}

.react-select__option {
  @apply text-black-500/60 !important;
}

.react-select__option:hover,
.react-select__option:active {
  @apply bg-indigo-50 !important;
  @apply text-black-500/60 !important;
}

.react-select__option--is-selected {
  @apply bg-indigo-50 !important;
  @apply text-black-500/60 !important;
}

.react-select__control--is-focused {
  @apply border-indigo-500/60 !important;
}

.react-select__multi-value {
  background: transparent !important;
  border: 1px solid d7d7d7 !important;
}

.react-select__multi-value__remove:hover,
.react-select__multi-value__remove:active {
  background: transparent !important;
  @apply text-indigo-500 !important;
}

.react-select .react-select__menu {
  @apply rounded-md !important;
  box-shadow: 0px 9px 12px 1px rgba(0, 0, 0, 0.14),
    0px 3px 16px 2px rgba(0, 0, 0, 0.12), 0px 5px 6px rgba(0, 0, 0, 0.2);
  border-top: initial !important;
  margin-top: 2px !important;
  @apply text-sm;
  text-align: left;
  z-index: 20 !important;
}

.react-select__option—is-focused {
  @apply bg-indigo-50 !important;
  @apply text-black-500/60 !important;
}

.react-select__single-value {
  bottom: 0 !important;
  top: 50% !important;
  padding-top: 2px !important;
}
